log/*.log
log/*.pid
tmp/*
coverage.data
coverage
*~
TAGS
routes.txt
*.swp
.rsync_cache
mkmf.log
*.flv
*.mp4
config/database.yml
config/environments/development.rb
bin/*
public/uploads
.DS_Store
.DS_store
*.orig
.tmtags
db/sphinx
public/javascripts/*_packaged.js
public/stylesheets/*_packaged.css
public/avatars
Public/profiles
Public/projects
Public/services
Public/system
