<% @show_sidebar = false %>

<div id="content">
   <div class="column col_100">
   <h1>The page you were looking for doesn't exist.</h1>
   <p>You may have mistyped the address or the page may have moved.</p>
   <p class="larger">Try <a href="/projects">browsing all projects</a> to find what you wanted.</p>
   </div>
</div>

<%#*<div id="sidebar">%>
  <%#= render :partial => "shared/search_box" %>



<%#*</div>%>

<br class="clear" />