<% content_for :page_title, "My Projects" %>
<div class="project_row">
  <% form_for :access ,:url=>{:conroller => "accesses",:action => "follow_open_update",:id => params[:id]},:html=>{:method=>:put}do |f| %>
    <%= f.error_messages %>
    <%=render :partial=>'form_open_followers',:locals=>{:f=>f}%>
    <br/>
    <p style="padding-left: 11px; margin-top: 10px;"><button class="large green" type="submit">Save Changes</button></p>
  </div>
<% end %>
