<table>
  <tr><td style="width: 400px;"><label class="ba">Follows the project </label></td>
    <td style="padding-top:10px;">    <%= f.check_box :follow %></td></tr>
   <tr><td><label class="ba">Comments on the blog</label></td>
    <td style="padding-top:10px;">  <%= f.check_box :blog_comments %></td>  </tr>
  <tr><td> <label class="ba">Comments on the project </label></td>
    <td style="padding-top:10px;">   <%= f.check_box :comments %></td>  </tr>
  <tr><td><label class="ba">Posts a blog </label></td>
    <td style="padding-top:10px;"><%= f.check_box :blog_post %></td>
  </tr>
</table>

