

  <% form_tag email_link_update_passwords_url do %>
    <%= label_tag :email, 'Your Email Address' %>
    <div class="input_frame">
      <%= text_field_tag :email, nil, :class => "wide"  %>
    </div>

    <%= submit_tag "Submit" %>
  <% end %>


