<p>Hi <%=@username%>,</p>
<p><%=link_to "#{@current_profile}",@current_profile_url%> approved your request to join <%=link_to "#{@project_name}",@project_url%> on Original Projects. You are now a team member.</p>
<p>Yours truly, </p>
<p>The Original Projects Team</p>
<p>If you don’t want to receive these notifications, just log into your <%=link_to "Original Projects",my_settings_url%> account and change your notification settings.</p>


















