<p>Hi <%=@recipent_name%>,</p>
<p>We are sorry to inform that you have been stopped to collabrate <%=@project %> on Original Projects, as the user has deleted his account completely on Original Projects.</p>



<p>Yours truly, </p>
<p>The Original Projects Team</p>