<p>Hi <%=@user_display_name%>,</p>
<%=link_to "#{@display_name}",@display_name_profile_url%> likes <%=link_to "#{@project_name}",@project_url%> on Original Projects.
<p>Yours truly, </p>
<p>The Original Projects Team</p>
<p>If you don’t want to receive these notifications, just log into your <%=link_to "Original Projects",my_settings_url%> account and change your notification settings.</p>













