<p>Dear <%= @display_name %>,</p>
<p>Thanks for joining Original Projects!.You're almost ready to start originating, collaborating, and following projects. &nbsp;&nbsp;</p>
<p>You are now connected to original projects with your <%if @profile.network=="linkedin" %>linkedin credentials <%else%> facebook credentials<%end%>.</p>
<p>Thanks!</p>
<p>The Original Projects Team</p>
